nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

nav p {
    margin: 0 2em;
    width: 30%;
}

header {
    background-color: yellow;
    color: red;
    font-size: 25px;
    font-style: italic;
    height: 70px;
    line-height: 70px;
    width: 100%;
}