nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

nav p {
    margin: 0 2em;
    width: 30%;
}

header {
    background-color: grey;
    font-size: 25px;
    font-style: italic;
}