.people {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.people {
    width:100%;
    margin-top:2em;
    border: solid blue;
    border-radius: 5%;
}

.people a {
width: 100%;

}
