div {
    background-color: grey;
    color: yellow;
    align-items: center;
    justify-content: center;
    
}

p {
    font-style: italic;
}

span {
    font-weight: bold;
    font-size: larger;
}