.stars {
    text-align: left;
    display: inline-block;
    width:100%;
    background-color: #202329;
    color: #ffffff;
    align-items: center;
    font-family: 'Lato', sans-serif;
    
}

p {
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

span {
    font-weight: bold;
    font-size: larger;
    color: #e2d872;
    
}

.amount {
    font-size: xx-large;
    font-style: bold;
    display: flex;
    justify-content: left;
    font-family: 'Lato', sans-serif;
}

.showMe {
    max-width:90%;
    height:auto;
    /* text-align: right; */
    /* display: inline-block; */
    
    
}
