div {
    background-color: #202329;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    
}

p {
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

span {
    font-weight: bold;
    font-size: larger;
    color: greenyellow;
}