


.app {

background-color: #202329;
align-content: center;
font-family: 'Lato', sans-serif;
width: 100%;



}

a {
    
    text-align: center;
    display: inline-block;
    margin: -10px;
       
}


@media (max-width: 870px){
    a {
        height: 100px;
        width: 100px;
    }
    }

    @media (max-width: 580px){
        a {
            height: 40px;
            width: 100px;
        }
        }